services:
  terragrunt-engine-server:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      TOKEN: secret-token
      LOG_LEVEL: debug
    volumes:
      - ./live:/app/live
    ports:
      - "127.0.0.1:50051:50051"
